<h2 mat-dialog-title>Modificar</h2>
<div mat-dialog-content>
  <div class="form-alumnos">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="model.nombre"
        #nombre="ngModel"
        class="example-right-align"
        placeholder="Nombre"
      />
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="fill" class="input">
      <mat-label>Apellido</mat-label>
      <input
        matInput
        type="text"
        class="example-right-align"
        [(ngModel)]="model.apellido"
        #apellido="ngModel"
        placeholder="Apellido"
      />
    </mat-form-field>
    <p></p>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Edad</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="model.edad"
        #edad="ngModel"
        class="example-right-align"
        placeholder="Edad"
      />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary" [mat-dialog-close]="{ message: 'cancelar' }">Cancelar</button>
  <button class="btn btn-success mx-3" [mat-dialog-close]="{ message: 'agregar', model: model }" cdkFocusInitial>
    agregar
  </button>
</div>
